.pdpa-consent-wrap {
    padding: 15px;
    background-color: #ffffff;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.pdpa-place-top {
    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;
    width: 100%;
}

.pdpa-place-bottom {
    position: fixed;
    z-index: 9999;
    bottom: 0;
    left: 0;
    width: 100%;
}

.pdpa-place-center {
    position: fixed;
    z-index: 999;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 100vh;
    box-shadow: 3px 3px 50px rgba(3, 3, 3, 0.25);
    border-radius: 6px;
}

.pdpa-darkmode {
    background-color: #272727 !important;
}

.pdpa-darkmode .pdpa-consent-text,
.pdpa-darkmode a {
    color: #fff !important;
}

.pdpa-consent-text {
    margin-bottom: 10px;
    font-size: 14px;
}

.pdpa-consent-allow-button,
.pdpa-consent-not-allow-button {
    padding: 8px 15px;
    font-size: 14px;
    border-radius: 15px;
    margin-inline: 5px;
}

.pdpa-consent-allow-button:hover,
.pdpa-consent-not-allow-button:hover {
    opacity: 0.8;
}

.pdpa-consent-allow-button {
    background-color: #355eb8;
    color: #fff;
}

.pdpa-consent-not-allow-button {
    background-color: #d4304c;
    color: #fff;
}

/** Tablet **/
@media (max-width: 1023px) {
    .pdpa-place-center {
        position: fixed;
        z-index: 99999;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        box-shadow: 3px 3px 50px rgba(3, 3, 3, 0.25);
        border-radius: 6px;
    }
}

/** Mobile **/
@media (max-width: 575px) {
    .pdpa-place-center {
        position: fixed;
        z-index: 99999;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        box-shadow: 3px 3px 50px rgba(3, 3, 3, 0.25);
        border-radius: 6px;
    }
}